# n8n Webhook URL (Production)
N8N_WEBHOOK_URL=your-n8n-webhook-url

# Server Configuration
PORT=your-exposed-port

# Allowed Frontend Origins (comma-separated for multiple)
ALLOWED_ORIGINS=your-front-end-url

# Zipline Configuration
ZIPLINE_URL=your-backend-url
ZIPLINE_API_TOKEN='your-zipline-token-here'
